# Local Development
# VITE_API_BASE_URL=http://localhost:8080

# Production (Railway)
# VITE_API_BASE_URL=https://<your-backend-deployed-domain>

# VITE_ACCESS_TOKEN_KEY=<tokens>
# VITE_REFRESH_TOKEN_KEY=<tokens>